<form
  #formDirective="ngForm"
  [formGroup]="form"
  (submit)="submit(formDirective)"
>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Enter task"
      formControlName="task"
    />
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">
        Add
      </button>
    </div>
  </div>
</form>

<ul class="list-group">
  <li
    class="list-group-item d-flex justify-content-between"
    [ngClass]="{ checked: task.done }"
    *ngFor="let task of tasks"
  >
    <div>
      <fa-icon
        *ngIf="task.done"
        [icon]="checkedIcon"
        class="text-success mx-2 cursor-pointer"
        (click)="toggleStatus(task)"
      ></fa-icon>
      <fa-icon
        *ngIf="!task.done"
        [icon]="uncheckedIcon"
        class="mx-2 cursor-pointer"
        (click)="toggleStatus(task)"
      ></fa-icon>
      <span>
        {{ task.title }}
        <small class="badge badge-pill badge-light mx-2" style="font-size: 60%;">
          {{ task.user?.displayName }}
        </small>
      </span>
    </div>

    <fa-icon
      [icon]="removeIcon"
      class="mx-2 cursor-pointer"
      (click)="removeTask(task)"
    ></fa-icon>
  </li>
</ul>

<div class="alert alert-light" role="alert" *ngIf="!tasks?.length">
  There is not any task to do—check it out!
</div>
